<%= stylesheet_link_tag "users", :media => "all" %>

<div class="card text-center">
    <div class="card-body">
        <h2 class="card-title">Profile</h2>
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
        <%= link_to "編集", edit_user_registration_path, class: 'post', class: "btn btn-primary edit" %>
    </div>
</div>