<%= stylesheet_link_tag "home", :media => "all" %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class=jumbotron></div>
        </div>
        <div class="col-md-6 text-center align-self-center">
            <p class="fs-3">ようこそGDAppへ！<br>
            このアプリではGDの募集ができます。<br>
            他の就活生とGDの練習を重ねて<br>
            志望企業の選考を突破しよう！</p>
        </div>
    </div>
    <div class="text-center">
        <h1 class="display-3 fw-bold">It's time to cooperate!</h1>
        <%= link_to "今すぐ始める", new_user_registration_path, class: 'post', class: "btn btn-primary btn-lg start" %>
    </div>
</div>
