
.jumbotron {
    background-image: image-url('discussion.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
}
.display-3 {
    margin-top: 30px;
    margin-bottom: 60px;
    color: black;
}
.start {
    margin-bottom: 50px;
    width: 150px;
}