
.avatar {
    margin: 10px 0px;
    border-radius: 50%;
}
.default {
    margin: 10px 0px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.edit {
    margin: 15px 0px;
    width: 100px;
}